<% if object.errors.any? %>
	<div id="error_explenation" class="error">
		<h2>
			<%= pluralize(object.errors.count, "Error")%>
			Prohibited this <%= object.class.to_s.underscore.humanize.downcase %> from being saved.

			<p>there was a problem with the following fields</p>
			<ul>
				<%= object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</h2>
	</div>	
<% end %>