body{
	background: #cfcfcf;
}

.container{
	width: 710px;

}
.round{
	margin: 10px auto auto auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;

}
footer{
	width:710px

}
.nav li{
	display: inline-block;

	
}

.nav_top{
	float: right;
	
}
.signup_button{
	background: #cdcdcd;
	padding: 20px;
	font-size: 20px;
	margin: auto;
	border-radius: 10px;

}

.gravatar{
	border-radius: 5px;
	box-shadow: 0px 0px 5px #000 ;
}

table.profile{
	width:100%;
	padding:1em;
}

.field_with_errors input{
box-shadow: 0px 0px 5px red ;	
border: 1px solid red;
}

.field{
	width: 200px;
}

.field input{
	margin: 10px;
	padding: 0;

}

ul.users{
	margin-top: 1em;
}

ul.users li{
	list-style: none;
}

/*pagination*/

.pagination a{
padding: 0.5em;
border: 1px #ccc solid; 
}

.pagination .current{
padding: 0.5em;
border: 1px #ccc solid; 
background:#eee;	
}

/*sidebar*/

.sidebar{
	background:#ccc;
}